<% @performers.each do |performer| %>
<div class="performer">
	<p class="name"><% performer.name %></p>
	<p class="type"><% performer.type %></p>
	<p class="rating"><% performer.rating %></p>
</div>
<% end %>